
p {
    background-color: $primary-text-color;
    color: $title-text-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    
}

.container {

    /* width: 1200px; */
    padding: 0 15px;
    margin: 0 auto;
    }




    ul {
        margin: 0;
        padding-left: 0;
        
        
        list-style: none;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.03em;
    }
    
    a {
    display: block;
    text-decoration: none;
    
    }

    section {
        padding-top: 94px;
        padding-bottom: 94px;

        
@media screen and (max-width: 480px) {
        padding-top: 30px;
        padding-bottom: 30px;
  }

    }


    body h2 {
        color: $title-text-color-h;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.03em;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
        
        & h3 {
            color: $title-text-color-h;
            font-family: Roboto, sans-serif;
            letter-spacing: 0.03em;
        }
    }

img {
    display: block;
    width: 100%;
    height: auto;
}
         