
    
    /*clients*/
    
    
    
    .clients {
    display: flex;
    margin: 0px auto;
    padding: 94px 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    
    width: 1200px;
    padding: 32px 15px 0px 15px;
    
    
    
    
    }
    
    .client {
        width: 170px;
        height: 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        fill: #AFB1B8;
        
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
         
        transition: $transition-project;
    
    
    
    &-icon {
        width: 100%;
        height: 100%;
        
    }
    
    &:hover {
        fill: $accent-color;
        width: 170px;
        height: 90px;
        
        padding: 20px;
        
    
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
    
    &:focus {
        fill: $accent-color;
        width: 170px;
        height: 90px;
        
        padding: 20px;
        
    
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
}
    
    .container-clients > h2 {
        margin: 0;
    }
    
    