
    
    /*clients*/
    
    
    
    .clients {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 94px 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
    
    
    padding: 32px 15px 0px 15px;
    
    
    @media screen and (min-width: 480px) {
        width: 480px;
      } 
      
    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
      } 

    @media screen and (min-width: 1200px) {
          width: 1200px;
          flex-wrap: nowrap;
        } 
    
    
    }
    
    .client {
        width: 43.75%;
        height: 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        fill: #AFB1B8;
        
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        margin: 15px;
    
         
        transition: $transition-project;
    
        @media screen and (min-width: 768px) {
            width: 226px;
          } 
    
        @media screen and (min-width: 1200px) {
              width: 170px;
            } 
    
    
    &-icon {
        width: 100%;
        height: 100%;
        
    }
    
    &:hover {
        fill: $accent-color;
        width: 170px;
        height: 90px;
        
        padding: 20px;
        
    
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
    
    &:focus {
        fill: $accent-color;
        width: 170px;
        height: 90px;
        
        padding: 20px;
        
    
        border: 1px solid $accent-color;
        border-radius: 4px;
    }
}
    
    .container-clients > h2 {
        margin: 0;

        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;

        text-align: center;
        letter-spacing: 0.03em;

    }
    
    