.container {
    
    @media screen and (min-width: 480px) {
        width: 480px;
      } 
    
      @media screen and (min-width: 768px) {
        width: 768px;
      } 

      @media screen and (min-width: 1200px) {
        width: 1200px;
      } 
}

header a {color: $title-text-color-h}

.nav{
    
    text-align: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
      } 

}


.logo {
    display: flex;
    

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
     font-size: 26px;
     
     &-left {
        padding-right: 9px;
        color: $accent-color;
     }
    &-right {
        color: #000000;}
}





.site-nav  {
    
    @media screen and (max-width: 767px) {
        display: none;
        
      } 
    
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
      } 
   
    
    

 
&-item:nth-last-child() {
    margin-right: 305px;
    }

& .link {
     padding: 32px 25px;

     color: $title-text-color-h;
     letter-spacing: 0.02em;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;

     transition: $transition-project;

         }
& .link:hover {color: $accent-color;}
& .link:focus {color: $accent-color;}

& .link.current {
    color: $accent-color;
    
    padding: 32px 25px 32px 25px;
    /* border-bottom: 4px solid var(--accent-color); */
    

}
}

.link-current {
    position: relative;
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;



&::after {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: -31.5px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

}
.auth-nav{
   /*   display: flex; */
     display: none;
     align-items: center;
     vertical-align: center;
     padding: 32px 50px;


     color: $title-text-color;
     letter-spacing: 0.02em;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     
     
& :focus {
    fill: $accent-color;       
    color: $accent-color;   
                        
}

     }

.auth-nav-item a {
    transition: $transition-project;
    
    
    &:hover {
        fill: $accent-color;       
        color: $accent-color;   
        
    }     
}



.auth-nav-item {
   /*  display: flex; */
    vertical-align: center;
    
    &:not(:last-child) {
        padding-right: 50px;
        }
        
    }



.email {
    margin-right: 10px;
}

.phone {
    margin-right: 10px;
}
  
.mob-head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 16px;
    padding-bottom: 16px;

}

.menu {
    

    @media screen and (min-width: 768px) {
        display: none;
        
      } 
}