.hero {
        
    padding: 200px 0px 210px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    background-size: cover;
        
    color: $primary-text-color;
    
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8), 
        rgba(47, 48, 58, 0.8)),
        url(../images/hero.jpg);
        
        background-position: center   ;
        
        
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        
        
        
        &-title {
          
          margin: 0 auto 46px auto;
          
          width: 646px;
          
          
          font-family: Roboto, sans-serif;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          font-size: 1.0em;
          font-weight: 900;
          
        }
        }
        
    
.button {
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        
        
        color: $primary-text-color;
        background-color: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;

        transition: $transition-project;
  &:hover {
    background-color: $primary-text-color;
    color: $accent-color;
   
  }  
  }
        
        
.examples-button{
            
            
    color: $title-text-color-h;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    text-align: center;
    border-width: 0px;

    transition: $transition-project;


        
&:hover {color: $primary-text-color;
    background-color: $accent-color;}
            
&:focus {color: $primary-text-color;
   background-color: $accent-color;}
}
                
