
    /*portfolio*/
    
    img{
    display: block;
    max-width: 100%;
    height: auto;
    }
    
    .portfolio-img{
    display: block;

    @media screen and (min-width: 480px) {
        width: 450px;
        background-size: cover;
        
      } 
    }
    
    .portfolio-content{
    box-sizing: border-box;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 24px;
    }
    .portfolio-name{
    margin-bottom: 4px;
    
    color: $title-text-color-h;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;

    @media screen and (min-width: 480px) {
        text-align: start;
        
      } 
      @media screen and (min-width: 768px) {
        max-height: 36px;
        word-wrap: normal;
        
      } 


    }
    .portfolio-type{
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    color: $title-text-color;
    }
    .thumb{
    position: relative; 
    overflow: hidden;
     
    }
    .portfolio-discription{
    position: absolute;
    top: 0px;
    
    
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    
    
    display: flex;
    margin-bottom: 0;
    margin-top: 0;  
    align-items: center;
    color: $primary-text-color;
    background: rgba(33, 150, 243, 0.9);
    
    font-size: 18px;
    line-height: 1.56;
    
    letter-spacing: 0.03em;
    
    transform: translateY(100%);
    transition: transform $transition-project;
    
    
    }
    .item.portfolio:hover .portfolio-discription{
    
    transform: translateY(0);
    }
    .list-portfolio{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
       padding: 0;
    }
    }
    .list-portfolio .item{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    }
    .item{
    /* max-width: 370px;
    margin-right: 30px;
    
    &:nth-child(3n){
    margin-right: 0px;
    } */
    @media screen and (min-width: 480px) {
        max-width: 450px;
        
      } 
      @media screen and (min-width: 768px) {
        max-width: 354px;
        margin: 15px;
    
        
      } 
}
    .item.portfolio:hover, .item.portfolio:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    
      
    .filter-button {
    /* width: 1200px; */
    
    margin: 60px 15px 46px 15px;
    
   /*  margin: 0 auto 56px auto; */
   /*  padding: 99px 279px 0px 279px; */
    border-radius: 4px;
    border: #F5F4FA;
    
    
    /* 
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    align-items: center; */
    
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        
      } 
      @media screen and (min-width: 1200px) {
        margin: 0 auto 56px auto;
        padding: 99px 279px 0px 279px;
        
        
      } 
    
       
    }
    
    .examples-button {
    padding: 6px 22px;
    margin: 7.5px 4px;
      
    }
    
         
.examples-button{
            
            
    color: $title-text-color-h;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    letter-spacing: 0.03em;
    text-align: center;
    border-width: 0px;
    cursor: pointer;

    transition: $transition-project;


        
&:hover {color: $primary-text-color;
    background-color: $accent-color;}
            
&:focus {color: $primary-text-color;
   background-color: $accent-color;}
 }